# Python Specific
__pycache__/
*.py[cod]
*$py.class
*.so

# FastAPI Specific
instance/
.webassets-cache

# Build and Distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Test and Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/

# Dependency Managers
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/

# Type Checking and Debugging
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/

# Node.js and Next.js Specific
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js Build and Export
.next/
.out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage

# Production
/build

# Vercel
.vercel

# Logs and Temporary Files
debug.log
temp/
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS
.DS_Store

# Environment Files
*.pem

# Editor Configurations
.vscode/
.idea/
*.iml
*.iws
out/

# Misc
*.swp
*.swo
*.orig
*.rej
*.bak
*.old
*.log
*.log.*


